# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# Local Bundler config and installed gems
.bundle/*
!.bundle/config
vendor/bundle/

# macOS metadata
.DS_Store
